/Test/nbproject/private/
/threadsimple/nbproject/private/
/threadsimple/build/
/GUIExercise/build/
/MyBookStore/nbproject/private/
/MyBookStore/build/
/SimpleLogin/nbproject/private/
/SimpleLogin/build/